# Tailscale auth key
TS_AUTHKEY=tskey-auth-clientid-clientsecret

# Tailscale state dir 
TS_STATE_DIR=./state

# SearXNG Config
SEARXNG_HOSTNAME=search.your-hostname.dev
SEARXNG_UWSGI_WORKERS=4
SEARXNG_UWSGI_THREADS=4
